[Unit]
Description=Service for cligram
After=network.target

[Service]
Type=simple
User=pasquale
ExecStart=/home/linuxbrew/.linuxbrew/bin/python3.11 -m cligram.daemon
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target